/* 
    Document   : vista
    Created on : 07-10-2011, 12:27:11 AM
    Author     : guille
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

.flash
{
    border-width: 3px;
    border-style: solid;
    border-color: #f4d848;
    background-color: #f8f49a;
    height: 50px;
    background-repeat: no-repeat;
    background-position: 9px 9px;
}

.flash_exito
{
    background-image: url('../images/iconos/exito.png');
}

.flash_error
{
    background-image: url('../images/iconos/error.png');
}

