/* 
    Document   : formulario
    Created on : 07-16-2011, 03:12:29 PM
    Author     : victor
    Description:
        Purpose of the stylesheet follows.
*/

#gen_form {
  width: 700px;
  margin: 0 auto;
}

#gen_form .radio_list label {
  margin-right: 15px;
}


#gen_form th
{
  white-space: nowrap;
  font-style: italic;
}

#gen_form td, #gen_form th
{
  border-bottom: 1px solid #eee;
  border-top: 1px solid #eee;
  text-align: left;
  vertical-align: top;
  padding: 7px;
}

#gen_form tfoot td, #gen_form tfoot th
{
  border: 0;
  text-align: right;
}

#gen_form .radio_list li
{
  display: inline;
}

